* {

}

/*style for body*/
body {
	 background-image: url(background.jpg);
	 background-size: 100%;
	 font-family: "Sour Gummy", serif;
	 font-optical-sizing: auto;
 	 font-weight: <weight>;
	 font-style: normal;
	 font-variation-settings:
     "wdth" 100;

/*style for image*/
img {
	width: 100px;
}

/*style for anchor*/
a {
	color: lightcoral;
}

/*style for footer*/
.footer {
	background-color: white;
	text-align: center;
	padding: 7.5px;
}